@charset "UTF-8";

:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}
.text__animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.text__bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}
@-webkit-keyframes bounce {
    from,
    20%,
    50%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.1, 0.5, 0.3, 1);
        animation-timing-function: cubic-bezier(0.1, 0.5, 0.3, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.7, 0.05, 0.8, 0.06);
        animation-timing-function: cubic-bezier(0.7, 0.05, 0.8, 0.06);
        -webkit-transform: translate3d(0, -15px, 0) scaleY(1);
        transform: translate3d(0, -15px, 0) scaleY(1);
    }

    80% {
        -webkit-transition-timing-function: cubic-bezier(0.2, 0.6, 0.3, 1);
        transition-timing-function: cubic-bezier(0.2, 0.6, 0.3, 1);
        -webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
        transform: translate3d(0, 0, 0) scaleY(0.95);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0) scaleY(1);
        transform: translate3d(0, -4px, 0) scaleY(1);
    }
}
@keyframes bounce {
    from,
    20%,
    50%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.1, 0.5, 0.3, 1);
        animation-timing-function: cubic-bezier(0.1, 0.5, 0.3, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.7, 0.05, 0.8, 0.06);
        animation-timing-function: cubic-bezier(0.7, 0.05, 0.8, 0.06);
        -webkit-transform: translate3d(0, -15px, 0) scaleY(1);
        transform: translate3d(0, -15px, 0) scaleY(1);
    }

    80% {
        -webkit-transition-timing-function: cubic-bezier(0.2, 0.6, 0.3, 1);
        transition-timing-function: cubic-bezier(0.2, 0.6, 0.3, 1);
        -webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
        transform: translate3d(0, 0, 0) scaleY(0.95);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0) scaleY(1);
        transform: translate3d(0, -4px, 0) scaleY(1);
    }
}